<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.js" ></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular-resource.js" ></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular-route.js" ></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular-cookies.js" ></script>
    <script type="text/javascript" src="functions.js" ></script>
</head>
<body ng-app="mainApp" ng-controller="usersAdminController" >
    <div><a href="users.html" >Felhasználók</a>&nbsp;<a href="login.html" >Login</a></div>
        
    <div>
      <form name="form1" ng-submit="submitNew()" novalidate >
          <div>Felhasználó adatai:</div>
          
          <label for="name" >Név:</label><input type="text" name="name" id="name" ng-model="user.name" ng-minlength="4" required /><br/>
          <label for="password" >Jelszó:</label><input type="password" name="password" id="password" ng-minlength="6" ng-model="user.password" required /><br/>
          
          <div ng-app="" ><label for="active" >Aktív:</label><input type="checkbox" name="active" id="active" ng-model="user.active" ng-true-value="true" ng-false-value="false" ng-init="user.active=true" ng-checked="true" /></div>
          <label for="email" >E-mail cím:</label><input type="email" name="email" id="email" ng-model="user.email" required /><br/>
          
          <button type="submit" ng-disabled="form1.name.$invalid || form1.password.$invalid || form1.email.$invalid" >Mentés</button>
          
      </form>
      
      <span style="color:red" ng-show="form1.name.$invalid" >Kérem töltse ki a "Név" mezőt minimum 4 karakterrel!</span><br/>
      <span style="color:red" ng-show="form1.password.$invalid" >Kérem töltse ki a "Jelszó" mezőt minimum 6 karakterrel!</span><br/>
      <span style="color:red" ng-show="form1.email.$invalid" >Kérem töltse ki az "E-mail cím" mezőt egy érvényes e-mail címmel!</span><br/>
      
    </div>  
    
</body>
</html>
